<main>
  <div class="row d-flex justify-content-center g-0 f-contraste">
    <div class="col-12 text-center">
      <h1 class="titulo subrayado">¿Puedo donar?</h1>
      <div class="texto">
        <p class="mb-2">¿Quieres donar sangre pero no estás seguro de si eres apto?</p>
        <p>En esta página encontrarás información sobre qué deberás tener en cuenta tanto antes como después de
          la donación. Además, podrás realizar un test para saber si eres o no apto para donar sangre.</p>
      </div>
    </div>
  </div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z"></path>
  </svg>

  <div class="info">
    <div class="row mt-4 g-0">
      <div class="col-12 col-md-6 text-center pe-0 pe-md-3 pe-lg-5">
        <h3 class="titulo">Antes de donar</h3>

        <table class="table table-bordered table-responsive mt-3">
          <thead>
            <tr>
              <th colspan="2">Ayúdanos a conseguir una transfusión segura y no dones si:</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="2" class="cabecera">En el último año, tú o tu pareja ha tenido relaciones sexuales con:
              </td>
            </tr>
            <tr scope="row">
              <td>Personas que se dedican a la prostitución.</td>
              <td>Múltiples parejas.</td>
            </tr>
            <tr>
              <td>Una persona distinta de tu pareja y sin usar preservativos.</td>
              <td>Una persona que ha sido tratada con factores de coagulación.</td>
            </tr>
            <tr>
              <td>Una persona haya tenido una prueba positiva para el VIH.</td>
              <td>Una persona que se haya inyectado droga.</td>
            </tr>
            <tr class="separador">
              <td></td>
            </tr>
            <tr>
              <td colspan="2" class="cabecera">Si tú o tu pareja:</td>
            </tr>
            <tr>
              <td>Habéis tenido una prueba positiva para el VIH.</td>
              <td>Si tenéis o habéis tenido Hepatitis B o C.</td>
            </tr>
            <tr>
              <td>Habéis ejercido la prostitución.</td>
              <td>Os habéis inyectado droga alguna vez.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12 col-md-6 text-center ps-0 ps-md-3 ps-lg-5">
        <h3 class="titulo">Después de donar</h3>
        <table class="table table-bordered table-responsive mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Deberás tener en cuenta los siguientes puntos:</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
              <th>1</th>
              <td>No fumes, conduzcas, ni tomes el sol en media hora.</td>
            </tr>
            <tr scope="row">
              <th>2</th>
              <td>No tomes alcohol antes de que transcurran dos horas.</td>
            </tr>
            <tr scope="row">
              <th>3</th>
              <td>Bebe abundante líquido el resto del día.</td>
            </tr>
            <tr scope="row">
              <th>4</th>
              <td>No hagas deporte de mucho esfuerzo durante cuatro horas.</td>
            </tr>
            <tr scope="row">
              <th>5</th>
              <td>No acudas a la sauna ni te bañes en la bañera hasta que transcurran cuatro horas.</td>
            </tr>
            <tr scope="row">
              <th>6</th>
              <td>Si te sientes débil o mareado, túmbate o siéntate con la cabeza entre las rodillas.</td>
            </tr>
            <tr scope="row">
              <th>7</th>
              <td>Si tu malestar persiste, ponte en contacto con el personal de la Hermandad de Donantes de Sangre o
                tu centro de salud más próximo.</td>
            </tr>
            <tr scope="row">
              <th>8</th>
              <td>Si sangras por el lugar del pinchazo, levanta el brazo y presiona sobre él.</td>
            </tr>
            <tr scope="row">
              <th>9</th>
              <td>Retira el aposito después de unas horas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-100 text-center texto">
      <p class="mb-3">Si ya has repasado la información anterior, haz click en el botón para comenzar el test.</p>
      <a href="test-apto"><button class="btn-secundario">Empezar test</button></a>
    </div>

  </div>
</main>
