<div class="container-fluid f-contraste">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="titulo subrayado">Aviso legal</h1>
    </div>
  </div>
</div>
<div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
    </path>
  </svg>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="accordion mb-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="menorEdad">
            <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_menorEdad" aria-expanded="true" aria-controls="collapse_menorEdad">
            <strong>Menores de edad</strong>
          </button>
          </h2>
          <div id="collapse_menorEdad" class="accordion-collapse collapse show" aria-labelledby="menorEdad"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>En el caso de menores de trece años se requiere el consentimiento de los padres/tutores
                para el tratamiento de sus datos personales.</p>
              <p>En ningún caso se recabarán del menor de edad datos relativos a la situación profesional,
                económica o a la intimidad de otros miembros de la familia, sin el consentimiento de éstos.</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="principiosConocer">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_principiosConocer" aria-expanded="true" aria-controls="collapse_principiosConocer">
              <strong>Algunos principios que debe conocer:</strong>
            </button>
          </h2>
          <div id="collapse_principiosConocer" class="accordion-collapse collapse" aria-labelledby="principiosConocer"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>En <strong>https://www.donantespllno.es</strong>, una prioridad es el respeto y la protección de los datos personales
                 de los usuarios. Como usuario debe saber que sus derechos están garantizados en esta web.</p>
              <p>Nos hemos esforzado en crear un espacio seguro y confiable.</p>
              <p>Nunca se solicitará información personal a menos que sea realmente necesaria para prestar los servicios que se nos solicitan.</p>
              <p>Nunca se compartirá información personal de los usuarios con nadie, excepto para cumplir con la ley o en caso de que cuente con
                su autorización expresa.</p>
              <p>Nunca se utilizarán sus datos personales con una finalidad diferente expresada en esta política de privacidad</p>
              <p>Esta <strong>Política de Privacidad</strong> podría variar en función de exigencias legislativas o de autorregulación, por lo
              que le aconsejo como usuario que la visite periódicamente. Será aplicable en caso de que los usuarios decidan rellenar su formulario de contacto.</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="regulacionesLegales">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_regulacionesLegales" aria-expanded="true" aria-controls="collapse_regulacionesLegales">
              <strong>Regulaciones legales a las que se acoge esta web:</strong>
            </button>
          </h2>
          <div id="collapse_regulacionesLegales" class="accordion-collapse collapse" aria-labelledby="regulacionesLegales"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> ha adecuado esta web a las exigencia de la <strong>Ley Orgánica 15/1999, del 13 de diciembre,
                 de Protección de Datos de Carácter Personal (LOPD)</strong>, y al <strong> Decreto 1720/2007, del 21 de diciembre</strong>, conocido como el
                 <strong>Reglamento de desarrollo de la LOPD</strong>. Cumple también con el <strong>Reglamento (UE) 2016/679 del Parlamento Europeo</strong>
                y del <strong>Consejo del 27 de abril de 2016</strong> relativo a la protección de las personas físicas <strong>(RGPD)</strong>, así como con la
              <strong> Ley 34/2002, del 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE o LSSI).</strong></p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="responsableTratamiento">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_responsableTratamiento" aria-expanded="true" aria-controls="collapse_responsableTratamiento">
              <strong>Responsable del tratamiento de sus datos personales</strong>
            </button>
          </h2>
          <div id="collapse_responsableTratamiento" class="accordion-collapse collapse" aria-labelledby="responsableTratamiento"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="col-12 table-responsive">
                <table class="table table-bordered table-hover overflow-auto w-75 m-auto text-center">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr scope="row">
                      <th scope="col"><i class="fa-solid fa-address-card"></i> Identidad del responsable:</th>
                      <td scope="col">Hermandad de Donantes de Sangre de Puertollano</td>
                    </tr>
                    <tr scope="row">
                      <th scope="col"><i class="fa-solid fa-truck-droplet"></i> Nombre comercial:</th>
                      <td scope="col">
                        <p>Hermandad de Donantes de Sangre de Puertollano</p>
                        <p>NIF/CIF: G13035951</p>
                      </td>
                    </tr>
                    <tr scope="row">
                      <th scope="col"><i class="fa-solid fa-location-dot"></i> Dirección:</th>
                      <td scope="col">
                        <p>Hospital Santa Bárbara, C/ Malagón s/n</p>
                        <p>C.P 13500, Puertollano, Ciudad Real</p>
                      </td>
                    </tr>
                    <tr scope="row">
                      <th scope="col"><i class="fa-solid fa-envelope"></i> Correo electrónico:</th>
                      <td scope="col">
                        hdspdonantes@donantespllno.es
                      </td>
                    </tr>
                    <tr scope="row">
                      <th scope="col"><i class="fa-solid fa-user-nurse"></i> Actividad:</th>
                      <td scope="col">Coordinación para la donación de Sangre y sus derivados,
                        así como donación de médula ósea.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>A efectos de lo previsto en el Reglamento General de Protección de Datos antes citado, los datos personales
                que se envían a través del formulario de contacto recibirán el tratamiento de <strong>"datos de contacto".</strong>
              </p>
              <br>
              <p>
                Para el tratameinto de los datos de contacto se implementan todas las medidas técnicas y organizativas de seguridad
                establecidas en la legislación vigente.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="otraInformacion">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_otraInformacion" aria-expanded="true" aria-controls="collapse_otraInformacion">
              <strong>Otras informaciones más detalladas</strong>
            </button>
          </h2>
          <div id="collapse_otraInformacion" class="accordion-collapse collapse" aria-labelledby="otraInformacion"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="accordion mb-5" id="accordionExample2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="obtenerDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_obtenerDatos" aria-expanded="true" aria-controls="collapse_obtenerDatos">
                      <strong>¿Cómo he obtenido sus datos?</strong>
                    </button>
                  </h2>
                  <div id="collapse_obtenerDatos" class="accordion-collapse collapse" aria-labelledby="obtenerDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Los datos personales que se tratan en <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>
                        proceden del <strong>Formulario de contacto</strong>. Dichos datos son borrados una vez nos ponemos en contacto con usted para
                        resolver sus dudas o la razón por la que realizao dicho contacto.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="derechosDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_derechosDatos" aria-expanded="true" aria-controls="collapse_derechosDatos">
                      <strong>¿Cuáles son sus derechos cuando se facilitan sus datos?</strong>
                    </button>
                  </h2>
                  <div id="collapse_derechosDatos" class="accordion-collapse collapse" aria-labelledby="derechosDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Cualquier persona tiene derecho a obtener confirmación sobre si <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>
                        esta tratando datos personales del usuario.
                      </p>
                      <br>
                      <p>
                        En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento de sus datos.
                        <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> dejará de tratar los datos, salvo por motivos legítimos imperiosos,
                        o el ejercicio o la defensa de posibles reclamaciones.
                      </p>
                      <br>
                      <p>
                        Los interesados también tendrán derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso,
                        la <strong>Agencia Española de Protección de Datos</strong>, si consideran que el tratamiento de datos personales que le conciernen infringe el Reglamento.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="finalidadDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_finalidadDatos" aria-expanded="true" aria-controls="collapse_finalidadDatos">
                      <strong>¿Con qué finalidad trato tus datos personales?</strong>
                    </button>
                  </h2>
                  <div id="collapse_finalidadDatos" class="accordion-collapse collapse" aria-labelledby="finalidadDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Cuando un usuario se conecta con esta web puede facilitar datos de carácter personal como pueden ser su direccion IP, nombre, dirección de correo electrónico,
                        número de teléfono y otra información. Al facilitar esta información, el usuario da su consentimiento para que información sea utilizada y gestionada por
                        <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> sólo con el fin estadístico.
                      </p>
                      <br>
                      <p>
                        En <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> se captura información personal con el siguiente fin:
                      </p>
                      <br>
                        <div class="row">
                          <div class="col-sm-4 col-12 mb-2">
                            <div class="list-group" id="list-tab" role="tablist">
                              <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Formulario de contacto</a>
                              <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Para garantizar el cumplimiento de las condiciones de uso y la ley aplicable</a>
                              <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Para gestionar las redes sociales</a>
                            </div>
                          </div>
                          <div class="col-sm-8 col-12">
                            <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <p>
                                  Se solicitan los siguientes datos personales: nombre, email, teléfono y mensaje para responder los requerimientos de los usuarios de <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>.
                                  Por ejemplo, se pueden utilizar estos datos para dar respuesta a dudas, quejas, comentario o inquietudes que se pueden tener relativos a la información incluida en la web, el tratamiento de sus datos personales,
                                  cuestiones referentes a los textos legales incluidos en la web, así que como cualquiera otras consultas que pueda tener.
                                </p>
                              </div>
                              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                <p>
                                  Esto puede incluir el desarrollo de herrramientas y algoritmos que ayudan a esta web a garantizar la confidencialidad de los datos personales que se recogen.
                                </p>
                              </div>
                              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                <p>
                                  <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> puede tener presencia en redes sociales. El tratamiento de los datos que se lleve a cabo de las personas que se hagan seguidoras en las
                                  redes sociales se regirá por este apartado. Así como por aquellas condiciones de uso, políticas de privacidad y normativas de acceso que pertenezcan a la red social que proceda en cada caso aceptadas previamente por el usuario de
                                  <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>. Tratará sus datos con las finalidades de administrar correctamente su presencia en la red social, informando de actividades de
                                  <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>, Así como para cualquier otra finalidad que las normativas de las redes sociales permitan. En ningún caso se usarán los perfiles de seguidores
                                  en redes sociales para enviar publicidad de manera individual
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <p>
                          <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>, no vende, alquila ni cede datos de carácter personal que puedan identificar al usuario, ni lo harán en el futuro.
                        </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="legimitacionDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_legimitacionDatos" aria-expanded="true" aria-controls="collapse_legimitacionDatos">
                      <strong>La legimitación para el tratamiento de sus datos</strong>
                    </button>
                  </h2>
                  <div id="collapse_legimitacionDatos" class="accordion-collapse collapse" aria-labelledby="legimitacionDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        La base legal para el tratamiento de sus datos es el <strong>consentimiento</strong>.
                      </p>
                      <br>
                      <p>
                        Para contactar en esta web se requiere el consentimiento con esta politica de privacidad
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="conservarDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_conservarDatos" aria-expanded="true" aria-controls="collapse_conservarDatos">
                      <strong>¿Por cuánto tiempo conservaré sus datos?</strong>
                    </button>
                  </h2>
                  <div id="collapse_conservarDatos" class="accordion-collapse collapse" aria-labelledby="conservarDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Los datos personales solo se conservan para dar respuesta al objeto de su contacto.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="navegacionDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_navegacionDatos" aria-expanded="true" aria-controls="collapse_navegacionDatos">
                      <strong>Datos de navegación</strong>
                    </button>
                  </h2>
                  <div id="collapse_navegacionDatos" class="accordion-collapse collapse" aria-labelledby="navegacionDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Al navegar por <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> se puede recoger datos no identificables,
                        que pueden incluir, direcciones IP, ubicación geográfica (aproximadamente), un registro de cómo se utilizan los servicios y sitios, y otros datos
                        que no pueden ser utilizados para identificar al usuario. Entre los datos no identificativos están también los relacionados a sus hábitos de navegación
                        a través de servicios de terceros.
                      </p>
                      <br>
                      <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-4 text-center">
                          <img class="border border-3" src="../../../assets/imagenes/aviso_legal/Google_Analitycs.png">
                          <p>Google Analytics</p>
                        </div>
                        <div class="col-12 col-lg-8 text-center">
                          <img class="border border-3" src="../../../assets/imagenes/aviso_legal/Google_Search_Console.png">
                          <p>Search Console. Utilizo esta información para analizar tendencias y administrar el sitio</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="facilitarDatosPersonales">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_facilitarDatosPersonales" aria-expanded="true" aria-controls="collapse_facilitarDatosPersonales">
                      <strong>Sus derechos al facilitar sus datos personales</strong>
                    </button>
                  </h2>
                  <div id="collapse_facilitarDatosPersonales" class="accordion-collapse collapse" aria-labelledby="facilitarDatosPersonales"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Cualquier persona tiene derecho a obtener confirmación sobre si en <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong>
                        se están tratando datos personales que les conciernan, o no.
                      </p>
                      <br>
                      <p>
                        Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso,
                        solicitar su supresion cuando, entre otros motivos, los datos ya no sean necesarios para los fnes que fueron recogidos.
                      </p>
                      <br>
                      <p>
                        En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamientos de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio
                        o la defensa de reclamaciones.
                      </p>
                      <br>
                      <p>
                        En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamientos de sus datos.
                      </p>
                      <br>
                      <p>
                        <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> dejarán de tratar los datos, salvo por motivos legitimos imperosos,
                        o el ejercicio o la defensa de posibles reclamaciones.
                      </p>
                      <br>
                      <p>Podrá ejercitar materialmente sus derechos por correo electrónico a <strong>hdspdonantes@donantespllno.es</strong></p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="secretoSeguridadDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_secretoSeguridadDatos" aria-expanded="true" aria-controls="collapse_secretoSeguridadDatos">
                      <strong>Secreto y seguridad de los datos</strong>
                    </button>
                  </h2>
                  <div id="collapse_secretoSeguridadDatos" class="accordion-collapse collapse" aria-labelledby="secretoSeguridadDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> se compromete en el uso y tratamiento de los
                        datos personales incluidos de los usuarios, respentando su confidencialidad y a utilizarlos de acuerdo con la finalidad de los mismos,
                        así como a dar cumplimiento a su obligación de guardarlos y adaptar todas las medidas para evitar la alteración, pérdida, tratamiento
                        o acceso no autorizado (Como los protocolos Https que se usan), de conformidad con lo establecido en la normativa cigente de protección de datos.
                      </p>
                      <br>
                      <p>
                        <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> no puede garantizar la absoluta inexpugnabilidad de la red de Internet
                        y por tanto, la violación de los datos mediante accesos fraudulentos a ellos por parte de terceros.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="exactitudVeracidadDatos">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_exactitudVeracidadDatos" aria-expanded="true" aria-controls="collapse_exactitudVeracidadDatos">
                      <strong>Exactitud y veracidad de los datos</strong>
                    </button>
                  </h2>
                  <div id="collapse_exactitudVeracidadDatos" class="accordion-collapse collapse" aria-labelledby="exactitudVeracidadDatos"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        Como usuarios, eres el único responsable de la veracidad y corrección de los datos que remitas a <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong>
                        exonerando a <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> de cualquier responsabilidad al respecto.
                        Los usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y autenticidad de los datos personales facilitados. El usuario acepta proporcionar información completa y correcta
                        en el formulario de contacto
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="aceptacionConsentimiento">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_aceptacionConsentimiento" aria-expanded="true" aria-controls="collapse_aceptacionConsentimiento">
                      <strong>Aceptación y consentimiento</strong>
                    </button>
                  </h2>
                  <div id="collapse_aceptacionConsentimiento" class="accordion-collapse collapse" aria-labelledby="aceptacionConsentimiento"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        El usuario declara haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y
                        consintiendo el tratamiento de los mismos por parte de <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong>
                        en la forma y para las finalidades indicadas en esta <strong>Pólitica de Privacidad</strong>
                      </p>
                      <br>
                      <p>
                        <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong>, se reserva el derecho a modificar la presenta política para adaptarla
                        a novedades legislativas o jurisprudenciales, así como a prácticas de la industria. En dichos supuestos, el Prestador anunciará en esta página los cambios
                        introducidos con razonable antelación a su puesta en práctica.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="correosComerciales">
                    <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_correosComerciales" aria-expanded="true" aria-controls="collapse_correosComerciales">
                      <strong>Correos comerciales</strong>
                    </button>
                  </h2>
                  <div id="collapse_correosComerciales" class="accordion-collapse collapse" aria-labelledby="correosComerciales"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                      <p>
                        De acuerdo con la LSSICE, <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> no realiza prácticas de <strong>SPAM</strong>,
                        por lo que no envía correos comerciales por vía electrónica que nohayan sido previamente solicitados o autorizados por el usuario.
                      </p>
                      <br>
                      <p>
                        Conforme a lo dispiesto en la <strong>Ley 34/2002 de Servicios de la Sociedad de la Información</strong> y de comercio electrónico,
                        <strong><a href="https://www.donantespllno.es">https://www.donantespllno.es</a></strong> se compromete a no enviar comunicaciones de carácter comercial sin identificarlas debidamente.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
