<!--Todo Isa-->
<div class="modal" id="modalBorrado" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bordeColor">
        <h5 class="modal-title modalTitulo">Borrando Audio</h5>
        <button (click)="limpiarIdBorrado()" (click)="limpiarMensaje()" type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Realmente quieres eliminarlo?</p>
      </div>
      <div *ngIf="mensaje===1" class="container mt-3 mb-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          El audio se ha borrado correctamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngIf="mensaje===2" class="container mt-3 mb-2">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          El audio no se ha podido borrar, por favor intentelo de nuevo.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-footer bordeArriba">
        <button (click)="borrarAudio()" type="button" class="btn btn-terciario me-3">Si</button>
        <button (click)="limpiarMensaje()" type="button" class="ms-2 me-2 btn btn-terciario"
          data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modalBorradoTotal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bordeColor">
        <h5 class="modal-title modalTitulo">Borrando Todo</h5>
        <button (click)="limpiarIdBorrado()" (click)="limpiarMensaje()" type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Realmente quieres eliminar <strong>todo</strong>?</p>
        <p>Una vez le de aceptar se eliminaran todos los audios</p>
      </div>
      <div *ngIf="mensaje===3" class="container mt-3 mb-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Todos los audios se han borrado correctamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div *ngIf="mensaje===4" class="container mt-3 mb-2">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          Ha ocurrido un error y no se han podido eliminar todos los audios, por favor intentelo de nuevo.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-footer bordeArriba">
        <button (click)="borrarTodo()" type="button" class="btn btn-terciario me-3">Si</button>
        <button (click)="limpiarMensaje()" type="button" class="ms-2 me-2 btn btn-terciario"
          data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
