<div class="container-fluid f-contraste pb-5 fondoCard">
  <div class="row">
    <div class="col text-center">
      <h1 class="titulo subrayado">Chat para dudas</h1>
    </div>
  </div>
</div>
<div>

  <section class="fondoCard">
    <ng-template #noRegistrado>
      <h4 class="titulo text-center pb-5">Por favor, para acceder al chat debes estar registrado y tener iniciada la
        sesión</h4>
    </ng-template>
    <div class="container" *ngIf="estaRegistrado; else noRegistrado">
      <div class="row">
        <div class="col-lg-8">
          <div class="container gx-0">
            <div class="row gx-0">
              <div class="col container chatContainer scroll mb-3 bg-white">
                <div class="row pt-2">
                  <ul class="col cardChat mt-3 ps-3 list-group">
                    <li class="mb-3 mt-3 pe-1" *ngFor="let m of Mensajes">
                      <div class="card">
                        <div class="card-header borderRojo">
                          <div class="row">
                            <p class="col-6 text-start letraColor"><strong>{{m.nombre}}</strong></p>
                            <p class="col-6 text-end">{{m.fecha}}, {{m.hora}}</p>
                          </div>
                        </div>
                        <div class="card-body">
                          <p class="card-text">{{m.mensaje}}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <form class="mb-5" [formGroup]="chatForm" (ngSubmit)="sendData('message')">
              <div class="d-flex mb-1">
                <input formControlName="comentario" type="text" name="comentario" class="form-control"
                  placeholder="Escribe tu duda" />

                <button type="submit" class="ms-3 btn-secundario">Enviar</button>
              </div>

              <span class="form-text errorSpan mb-3" *ngIf="aviso==1">Escribe una duda</span>
            </form>

          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="container g-0">
            <div class="p-4 ms-0 ms-lg-4 mb-2 bg-white usuariosContainer scroll">
              <h3 class="titulo border-bottom">Usuarios conectados</h3>
              <div *ngFor="let usuario of Conectados" class="card mt-4 mb-4">
                <div class="card-body fondoCard">
                  <p class="letraColor"><strong>{{usuario}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </section>
