<div>
    <div>
      <p class="pregunta mb-4">{{pregunta.enunciado}}</p>
      <img *ngIf="pregunta.nombre_img" #imagen class="img-fluid w-25" src="../../assets/imagenes/apto_sangre/{{pregunta.nombre_img}}">
    </div>
    <div class="row">
      <div class="col-12">
        <input #{{pregunta.titulo}}_no type="radio" name="{{pregunta.titulo}}" (change)="dandoValor($event)" class="ms-3">
        <label for="{{pregunta.titulo}}_no">No</label>
        <input #{{pregunta.titulo}}_si type="radio" name="{{pregunta.titulo}}" (change)="dandoValor($event)" class="ms-3">
        <label for="{{pregunta.titulo}}_si">Si</label>
      </div>
    </div>
</div>
