<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="titulo subrayado">La medula Osea</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center">

    <div class="accordion mb-5" id="medula_osea">

      <div class="accordion-item">
        <h2 class="accordion-header" id="video">
          <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_video" aria-expanded="true" aria-controls="collapse_video">
          <strong>Video</strong>
        </button>
        </h2>
        <div id="collapse_video" class="accordion-collapse collapse show" aria-labelledby="video"
        data-bs-parent="#medula_osea">
          <div class="accordion-body">
            <div class="ratio ratio-16x9">
              <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/QlsTCSCHCPs"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="que_es_donacion_medula_osea">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_que_es_donacion_medula_osea" aria-expanded="true" aria-controls="collapse_que_es_donacion_medula_osea">
            <strong>¿Que es la donacion de medula Osea?</strong>
          </button>
        </h2>
        <div id="collapse_que_es_donacion_medula_osea" class="accordion-collapse collapse" aria-labelledby="que_es_donacion_medula_osea"
          data-bs-parent="#medula_osea">
          <div class="accordion-body">
            <p>
              Es un procedimiento médico propio del campo de la hematología y suele realizarse en pacientes con cáncer de sangre o médula ósea
              (ya sea mieloma múltiple o leucemia), para eliminar las células enfermas o defectuosas e introducir células madres que produzcan
              glóbulos y plaquetas sanos.
            </p>
            <div class="container">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                  <figure class="mb-4 mt-4">
                    <img class="img-fluid" src="../../../../assets/imagenes/donantes-medula-osea/donacion-medula-osea.jpg" alt>
                    <figcaption>Donacion de medula Osea</figcaption>
                  </figure>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="que_es_medula_osea">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_que_es_medula_osea" aria-expanded="true" aria-controls="collapse_que_es_medula_osea">
            <strong>¿Que es la medula osea?</strong>
          </button>
        </h2>
        <div id="collapse_que_es_medula_osea" class="accordion-collapse collapse" aria-labelledby="que_es_medula_osea"
          data-bs-parent="#medula_osea">
          <div class="accordion-body">
            <p>
              <strong>La médula ósea</strong> es el tejido donde se fabrica las células de la sangre y del sistema inmunitario.
              En la médula ósea están lo que se conoce como células madre (también denominadas progenitores hematopoyéticos)
              capaces de producir todas las células de la sangre: <strong>los glóbulos rojos o hematíes, los glóbulos blancos o leucocitos y las plaquetas o trombocitos.</strong>
            </p>
            <div class="container">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                  <figure class="mb-4 mt-4">
                    <img class="img-fluid" src="../../../../assets/imagenes/donantes-medula-osea/Bone_cross-section_esp.jpg" alt>
                    <figcaption>Sección transversal del hueso</figcaption>
                  </figure>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="servir_celulas_medula_osea">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_servir_celulas_medula_osea" aria-expanded="true" aria-controls="collapse_servir_celulas_medula_osea">
            <strong>¿Para qué se utiliza las células de la médula ósea?</strong>
          </button>
        </h2>
        <div id="collapse_servir_celulas_medula_osea" class="accordion-collapse collapse" aria-labelledby="que_servir_celulas_medula_osea"
          data-bs-parent="#medula_osea">
          <div class="accordion-body">
            <p>
              Muchas enfermedades son consecuencia de una producción excesiva, insuficiente o anómala de un determinado tipo de células derivadas
              de la célula madre. En muchas de estas enfermedades el trasplante de médula ósea es la única esperanza de curación al sustituir las
              células defectuosas por otras células normales procedentes de un donante sano.
            </p>

            <br>

            <p>
              Así, estas células se utilizan para el tratamiento de determinadas enfermedades de la sangre, como por ejemplo las leucemias.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="quien_donar_PDF">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_quien_donar_PDF" aria-expanded="true" aria-controls="collapse_quien_donar_PDF">
            <strong>¿Quien puede ser donante? + PDF (Guia de donantes)</strong>
          </button>
        </h2>
        <div id="collapse_quien_donar_PDF" class="accordion-collapse collapse" aria-labelledby="que_quien_donar_PDF"
          data-bs-parent="#medula_osea">
          <div class="accordion-body">
            <p>
              En términos generales, puede ser donante de médula ósea toda persona sana desde los 18 años y hasta los 60 años,
              iempre que no padezca ninguna enfermedad susceptible de ser trasmitida al receptor y que tampoco padezca ninguna
              enfermedad que pueda poner en peligro su vida por el hecho de la donación.
            </p>

            <br>

            <p>
              Las personas que se registran como donantes de médula ósea lo que realmente manifiestan es la voluntad de donar y
              solo se produce realmente la donación si se diera el caso de que algún paciente, en cualquier lugar del mundo,
              fuera compatible con ese donante.
            </p>
            <br>
            <p>
              Si desea obtener mas informacion, puede descargar este archivo PDF (Guia de donantes)
            </p>
            <br>
            <div class="row d-flex justify-content-center">
              <div class="col-3"></div>
              <div class="col-6 fondoPDF text-center">
                <i class="fa-solid fa-file-pdf"></i>
                <p>
                  <a href="https://www.fcarreras.org/es/guia-del-donante-de-medula-osea_1205394.pdf">Guía del donante de médula ósea</a>
                </p>
              </div>
              <div class="col-3"></div>

            </div>
          </div>
        </div>
      </div>

  </div>
</div>
