//Todo Isa

.modalTitulo {
  color: var(--color-secundario);
  font-family: var(--tipo-textos);
}


.bordeColor {
  border-bottom: 1px solid var(--color-secundario);
}

.bordeArriba {
  border-top: 1px solid var(--color-secundario);
}
