.junta {
  .titulo {
    margin-top: 4rem;
  }

  .info {
    font-size: var(--letra-pequena);
  }

  .contenedor-integrantes {
    .integrante {
      border-bottom: 2px solid var(--color-primario);
      margin-bottom: 3rem;

      .nombre,
      .cargo {
        border: none;
        outline: none;
        padding: .5rem;
      }

      .cargos option {
        font-family: arial !important;
      }

      i {
        color: var(--color-contraste-oscuro);

        &:hover {
          color: var(--color-granate);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .junta .contenedor-integrantes .integrante {
    margin-bottom: 2rem;

    .nombre,
    .cargos {
      padding: .5rem 1rem;
    }
  }
}
