<div class="container-fluid f-contraste">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="titulo subrayado">Términos de Uso</h1>
    </div>
  </div>
</div>
<div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
    </path>
  </svg>
</div>
<div class="container">
  <h2 class="text-center titulo">CONDICIONES DE USO</h2>
  <br>
  <p>La utilización de los servicios en <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> supone la
  aceptción de las siguientes condiciones generles:</p>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="accordion mb-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="aceptacionDisponibilidad">
            <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_aceptacionDisponibilidad" aria-expanded="true" aria-controls="collapse_aceptacionDisponibilidad">
            <strong>1.- ACEPTACIÓN Y DISPONIBILIDAD DE LAS CONDICIONES GENERALES DE CONTRATACIÓN.</strong>
          </button>
          </h2>
          <div id="collapse_aceptacionDisponibilidad" class="accordion-collapse collapse show" aria-labelledby="aceptacionDisponibilidad"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Mediante la aceptación del presente contrato, usted declara que ha leído y acepta las presentes condiciones generales. Estas condiciones generales
                (en adelante, "las Condiciones Generales"), regulan la relación jurídica que emana entre los usuarios (en adelante, <strong>"los Usuarios"</strong>)
                de la página Web ubicada en la url propiedad de la Hermandad de Donantes de Sangre de Puertollano (en adelante <strong>LA EMPRESA</strong>). <strong>Los Usuarios</strong>
                aceptan <strong>las Condiciones Generales</strong> desde el instante que utilicen el sitio Web. Este documento puede ser impreso y almacenado por <strong>los Usuarios</strong>.
                <strong>LA EMPRESA</strong> pone a disposición de estos la dirección de estos la dirección de e-mail: <strong>hdspdonantes@donantespllno.es</strong> para que pedan plantear cualquier
                duda acerca de estas <strong>Condiciones Generales</strong>.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="normasAplicables">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_normasAplicables" aria-expanded="true" aria-controls="collapse_normasAplicables">
            <strong>2.- NORMAS APLICABLES.</strong>
          </button>
          </h2>
          <div id="collapse_normasAplicables" class="accordion-collapse collapse" aria-labelledby="normasAplicables"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Las presentes <strong>Condiciones Generales</strong>, están sujetas a lo dispuesto en la Ley 26/1984, del 19 de Julio General para
                la Defensa de Consumidores y Usuarios, al Real Decreto 1906/1999, del 17 de Diciembre de 1999, por el que se regula la
                Contratación Telefónica o Electrónica con condiciones generales, la Ley Orgánica 15/1999, del 13 de Diciembre, de Protección de Datos de Carácter Personal,
                la Ley 7/1996, del 15 de Enero de Ordenación del Comercio Minorista, y a la Ley 34/2002 del 11 de Julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="modificacionCondiciones">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_modificacionCondiciones" aria-expanded="true" aria-controls="collapse_modificacionCondiciones">
            <strong>3.- MODIFICACIÓN DE LAS CONDICIONES GENERALES.</strong>
          </button>
          </h2>
          <div id="collapse_modificacionCondiciones" class="accordion-collapse collapse" aria-labelledby="modificacionCondiciones"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                <strong>LA EMPRESA</strong> podrá modificar <strong>las Condiciones Generales</strong> notificándolo a <strong>los Usuarios</strong>
                con antelación suficiente, con el fin de mejorar los servicios y productos ofrecidos a través de <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>.
                Mediante la modificacion de <strong>las Condiciones Generales</strong> expuestas en la página Web de <strong>LA EMPRESA</strong>, se entenderá por cumplido dicho deber de notificación.
                En todo caso, antes de utilizar los servicios se podrán consultar <strong>las Condiciones Generales</strong>.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="descripcionServicios">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_descripcionServicios" aria-expanded="true" aria-controls="collapse_descripcionServicios">
            <strong>4.- DESCRIPCIÓN DE LOS SERVICIOS.</strong>
          </button>
          </h2>
          <div id="collapse_descripcionServicios" class="accordion-collapse collapse" aria-labelledby="descripcionServicios"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Los servicios ofrecido por <strong>LA EMPRESA</strong> tienen validez indefinida, pudiendo ser modificados, rectificados o cancelados
                sin previo aviso a los usuarios habituales o eventuales. La responsabilidad civi de <strong>LA EMPRESA</strong> por los servicios ofrecidos
                en la página Web queda limitada a la información sobre los mismos. El usuario renuncia a reclamar cualquier responsabilidad
                a <strong>LA EMPRESA</strong> por posibles fallos, lentitud de acceso o errores en el acceso a la página Web, incluyendo pérdidas de datos,
                u otro tipo de información que pudiera existir en el ordenador o red del usuario que acceda a <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a>.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="propiedadIntelectual">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_propiedadIntelectual" aria-expanded="true" aria-controls="collapse_propiedadIntelectual">
            <strong>5.- PROPIEDAD INTELECTUAL.</strong>
          </button>
          </h2>
          <div id="collapse_propiedadIntelectual" class="accordion-collapse collapse" aria-labelledby="propiedadIntelectual"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Los contenidos suministrados por <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> están sujetos
                a los derechos de propiedad inteelctual e industrial y son titularidad exclusiva de <strong>LA EMPRESA</strong> o de las personas físicas o jurídicas que se informe.
                <strong>Los usuarios</strong> no podrán poner a disposición de terceras personas los contenidos de la <strong>WEB</strong>.
                La propiedad intelectual se extiende, además de los contenidos incluidos en la Web, a sus gráficos, logotipos, diseño, imágenes
                y código fuente utilizado para su programación
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="servicio_Responsabilidades">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_servicio_Responsabilidades" aria-expanded="true" aria-controls="collapse_servicio_Responsabilidades">
            <strong>6.- USO DEL SERVICIO Y RESPONSABILIDADES.</strong>
          </button>
          </h2>
          <div id="collapse_servicio_Responsabilidades" class="accordion-collapse collapse" aria-labelledby="servicio_Responsabilidades"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                <strong>LA EMPRESA</strong> no garantiza la disponibilidad permanente de los servicios, quedando exonerado por cualquier
                tipo de responsabilidad por posibles daños y perjuicios causados debido a la indisponibilidad del servicio por causas
                de fuerza mayor o errores en las redes telemáticas de transferencia de datos, ajenos a su voluntad. <strong>LA EMPRESA</strong>
                no se hace responsable del contenido de los enlaces a otras páginas Web que no sean titularidad suya y que, por tanto,
                no pueden ser controladas por ésta. El servicio de consultas se ofrece a efectos informativos y tienen de forma expresa efectos
                limitados, ya que no se revisan documentos que puedan ser revelantes o se dispone de información completa en ningún caso, con
                lo cual es opinión limitada sometida a mejor derecho.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="privacidad_Proteccion">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_privacidad_Proteccion" aria-expanded="true" aria-controls="collapse_privacidad_Proteccion">
            <strong>7.- PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES.</strong>
          </button>
          </h2>
          <div id="collapse_privacidad_Proteccion" class="accordion-collapse collapse" aria-labelledby="privacidad_Proteccion"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                <strong>LA EMPRESA</strong> declara que cumple la normativa vigente respecto a la protección de datos, en particular <strong> la Ley Organica 15/1999,
                del 13 de Diciembre, de Protección de Datos de Carácter Personal</strong> y <strong>el Real Decreto 994/1999, del 11 de Junio</strong>, que desarrolla la citada ley orgánica.
                <strong>LA EMPRESA</strong> pone a disposición de los Usuarios los medios de contacto referidos en el párrafo anterior para que estos ejerzan
                los derechos de acceso, rectificación, cancelación y oposición garantizados por la legislacion vigente. Podrá realizar dichos cambios bien a través de correo electrónico
                en la cuenta <strong>hdspdonantes@donantespllno.es</strong> o bien mediante comunicación escrita dirigida a la siguiente dirección, Avenida de Almadén, s/n, 13500, Puertollano, Ciudad Real, España.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="legislacion_jurisdicción">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_legislacion_jurisdicción" aria-expanded="true" aria-controls="collapse_legislacion_jurisdicción">
            <strong>8.- LEGISLACIÓN APLICABLE Y JURISDICCIÓN COMPETENTE.</strong>
          </button>
          </h2>
          <div id="collapse_legislacion_jurisdicción" class="accordion-collapse collapse" aria-labelledby="legislacion_jurisdicción"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Las presentes Condiciones de uso se rigen por la legislación española aplicable en la materia.
                Para resolver cualquier controversia o conflicto que se derive de las presentes <strong>Condiciones de Uso</strong>,
                las partes se someten a la jurisdicción de los tribunales de la ciudad de Puertollano, salvo que la ley imponga otra jurisdicción
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="notificaciones">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_notificaciones" aria-expanded="true" aria-controls="collapse_notificaciones">
            <strong>9.- NOTIFICACIONES.</strong>
          </button>
          </h2>
          <div id="collapse_notificaciones" class="accordion-collapse collapse" aria-labelledby="notificaciones"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que hayan de
                efectuarse por las partes en relacion con las presentes <strong>Condiciones Generales</strong>,
                deberán realizarse por escrito y se entenderá que ha sido debidamente realizadas cuando hayan
                sido entregadas en mano o bien remitidas por correo ordinario al domicilio de la otra parte
                o al correo electrónico de ésta, o bien a cualquier otro domicilio o correo electrónico que estos efectos cada parte pueda indicar a la otra.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="nulidad_ineficacia">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_nulidad_ineficacia" aria-expanded="true" aria-controls="collapse_nulidad_ineficacia">
            <strong>10.- NULIDAD E INEFICACIA DE LAS CLÁUSULAS.</strong>
          </button>
          </h2>
          <div id="collapse_nulidad_ineficacia" class="accordion-collapse collapse" aria-labelledby="nulidad_ineficacia"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Si cualquier cláusula incluida en estas <strong>Condiciones Generales</strong> fuese
                declarada, total o parcialmente, nula o ineficaz, tal nulidad o ineficacia afectará tan sólo
                a dicha disposición o a la parte de la misma que resulte nula o ineficaz, sinsistiendo
                las <strong>Condiciones Generales</strong> que resultase afectada, por no puesta.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="utilizacion_cookies">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_utilizacion_cookies" aria-expanded="true" aria-controls="collapse_utilizacion_cookies">
            <strong>11.- UTILIZACIÓN DE COOKIES.</strong>
          </button>
          </h2>
          <div id="collapse_utilizacion_cookies" class="accordion-collapse collapse" aria-labelledby="utilizacion_cookies"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Las cookies son el medio técnico para la <strong>"trazabilidad"</strong> y seguimiento de la navegación
                en los <strong>Sitios Web</strong>. Son pequeños ficheros de texto que se escriben en el ordenador del <strong>Usuario</strong>.
                Este método tiene implicaciones sobre la privacidad, por lo que se informa de que
                <a href="https://www.donantespllno.es"><strong>https://www.donantespllno.es</strong></a> podrá utilizar cookies con la finalidad de
                elaborar estadísticas de utilización del sitio web. En todo caso, el usuario puede configurar su navegador para no
                permitir el uso de cookies en sus visitas a la red
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
