<main class="f-contraste">
  <h1 class="titulo subrayado text-center">Registrar datos</h1>

  <div class="contenedor row gx-0">

    <div class="menu-vertical col-2 col-md-3">
      <ul>
        <li *ngFor="let e of elementos; let i = index"
          [class.activo]="i == elementoActivo"
          (click) = "elementoActivo = i">
          <i class="fa-solid {{ e.icono }}"></i>

          <span class="oculto">{{ getNombre(e.nombre) | titlecase }}</span>
        </li>
      </ul>
    </div>

    <div class="col-10 col-md-9 contenido">
      <app-registrar-donaciones *ngIf="elementoActivo == 0"></app-registrar-donaciones>

      <app-registrar-altas *ngIf="elementoActivo == 1"></app-registrar-altas>
    </div>
  </div>
</main>
