<div class="container-fluid f-contraste">
  <div class="row">
    <div class="col text-center">
      <h1 class="titulo subrayado">Donación de sangre</h1>
    </div>
  </div>
</div>
<div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
    </path>
  </svg>
</div>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="container">
        <div class="row">
          <section class="col-12">
            <div class="accordion mb-5" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>¿Qué es la sangre?</strong>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Representa 1/13 del peso total del cuerpo humano (5 litros en una persona de 65 Kg. de peso).
                      Circula por
                      las arterias y las venas, de color rojo vivo en aquellas y oscuro en éstas. El 55% es un líquido
                      llamado
                      <strong>plasma</strong> en el que están en suspensión diversas células: <strong>glóbulos rojos
                        (43%)</strong> ,
                      <strong>glóbulos blancos</strong> y
                      <strong>plaquetas(2%) </strong>
                      por lo tanto, el 55% es parte líquida y el 45% son partes sólidas. Además hay una parte
                      gaseosa
                      (oxígeno, anhídrido carbónico, etc.)
                    </p>
                    <div class="container">
                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                          <figure class="mb-4 mt-4">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/grupo.png" alt>
                            <figcaption>Grupo sanguineo</figcaption>
                          </figure>
                        </div>
                        <div class="col-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Componentes de la sangre</strong>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col table-responsive">
                          <table class="table table-bordered table-responsive mt-3">
                            <thead>
                              <tr>
                                <th scope="col">Componente</th>
                                <th scope="col">Descripción</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr scope="row">
                                <th>Plasma</th>
                                <td>Es un líquido compuesto de agua, sales minerales y otras sustancias necesarias para
                                  el
                                  normal
                                  funcionamiento del organismo y en el que se encuentran suspendidas las células
                                  sanguíneas.
                                  Son de
                                  gran importancia entre esas sustancias las proteínas, las grasas y los hidratos de
                                  carbono,
                                  así como
                                  los factores de la coagulación, imprescindibles para evitar las hemorragias.</td>
                              </tr>
                              <tr scope="row">
                                <th>Glóbulos rojos o hematíes</th>
                                <td>Son las células sanguíneas más numerosas, contienen la hemoglobina que es la
                                  responsable
                                  de su
                                  color rojo característico. Se forman en la médula ósea y transportan el oxígeno de los
                                  pulmones a
                                  los tejidos. Tienen una vida media de cuatro meses. Cada persona tiene entre 4.000.000
                                  a
                                  6.000.000
                                  por milímetro cúbico. El exceso de glóbulos rojos se denomina eritrocitosis. El
                                  déficit
                                  de
                                  glóbulos
                                  rojos se denomina anemia.</td>
                              </tr>
                              <tr scope="row">
                                <th>Glóbulos blancos</th>
                                <td>Son menos numerosos que los glóbulos rojos. Son los encargados de proteger al
                                  organismo
                                  contra los
                                  diferentes microbios. Una persona tiene entre 4.000 y 10.000 leucocitos por milímetro
                                  cúbico. En
                                  caso de infección aumenta el número para mejorar las defensas. Tienen una vida muy
                                  corta,
                                  menos de
                                  24 horas.</td>
                              </tr>
                              <tr scope="row">
                                <th>Plaquetas</th>
                                <td>Son las células sanguíneas más pequeñas. Intervienen cuando se produce una ruptura
                                  de
                                  los
                                  vasos
                                  sanguíneos. Se adhieren rápidamente, formando un coágulo que para la hemorragia.
                                  Tenemos
                                  entre
                                  150.000 y 400.000 por milímetro cúbico. Tienen una vida media de 5 a 7 días fuera de
                                  nuestro
                                  cuerpo.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/plasma.jpg" alt>
                            <figcaption>Plasma</figcaption>
                          </figure>
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/plaquetas.jpg" alt>
                            <figcaption>Plaquetas</figcaption>
                          </figure>
                        </div>
                        <div class="col-6">
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/globulosBlancos.jpg" alt>
                            <figcaption>Glóbulos blancos</figcaption>
                          </figure>
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/globulosRojos.jpg" alt>
                            <figcaption>Glóbulos Rojos</figcaption>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>Proceso de donación</strong>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <h3 class="titulo">Pasos a realizar:</h3>
                    <h4 class="titulo medio pb-2 pt-4">-Antes de donar</h4>
                    <ul>
                      <li><i class="peque fa-solid fa-heart me-2"></i>No ir en ayunas y no haber consumido alcohol.</li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>Completar cuestionario con preguntas relacionadas
                        con su salud.</li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>Reconocimiento médico. Toma de tensión y
                        comprobación nivel
                        hemoglobina.</li>
                    </ul>
                    <div class="container">
                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                          <figure class="mb-4 mt-4">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/revision.jpg" alt>
                            <figcaption>Revisón médica</figcaption>
                          </figure>
                        </div>
                        <div class="col-3"></div>
                      </div>
                    </div>
                    <h4 class="titulo medio pb-2 pt-4">-Durante la donación:</h4>
                    <ul>
                      <li><i class="peque fa-solid fa-heart me-2 "></i>El proceso dura en total una media de 20
                        minutos.En
                        cuanto a la bolsa
                        de
                        donación se llena en unos 10 minutos.</li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>La donación de una bolsa de sangre de 450 cc
                        mediante punción similar
                        a la de
                        un análisis.</li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>La extracción de tubos para análisis para la
                        determinación del grupo
                        sanguíneo,
                        serología de SIDA, Sífilis, Hepatitis B y Hepatitis C, recuento de células sanguíneas: hematíes,
                        plaquetas y leucocitos.</li>
                    </ul>
                    <div class="container">
                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                          <figure class="mb-4 mt-4">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/donacion.jpg" alt>
                            <figcaption>Maratón de donaciones</figcaption>
                          </figure>
                        </div>
                        <div class="col-3"></div>
                      </div>
                    </div>
                    <h4 class="titulo medio pb-2 pt-4">-Después de donar:</h4>
                    <ul>
                      <li><i class="peque fa-solid fa-heart me-2"></i>Es importante ejercer presión durante unos minutos
                        donde se ha
                        efectuado la
                        punción para extraer la sangre con el fin de evitar la aparición de hematomas, así como el
                        reposo y toma
                        de refrigerio para reposición de líquidos.
                      </li>
                      <li class="pt-1 pb-1"><i class="peque fa-solid fa-heart me-2"></i>En las primeras dos horas
                        posteriores a la donación se debe evitar:
                        <ul class="ps-3 pt-1">
                          <li><i class="peque fa-solid fa-droplet me-2"></i>Consumir alcohol.</li>
                          <li><i class="peque fa-solid fa-droplet me-2"></i>Fumar.</li>
                          <li><i class="peque fa-solid fa-droplet me-2"></i>Exponerse a elevadas temperaturas.</li>
                          <li><i class="peque fa-solid fa-droplet me-2"></i>Conducir vehículos pesados.</li>
                          <li><i class="peque fa-solid fa-droplet me-2"></i>Realizar ejercicio intenso.</li>
                        </ul>
                      </li>
                      <li><i class="peque fa-solid fa-heart me-2"></i>Durante las 24 horas siguientes se debe ingerir
                        abundante líquido.
                      </li>
                    </ul>
                    <p class="pt-3 pb-3">Si quiere ver el proceso con más detalles puede ver el siguiente video con todo
                      el proceso que se
                      realiza:</p>
                    <div class="container d-flex justify-content-center mb-3">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/3B3QD7TeKgA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>Procesos que recibe la sangre</strong>
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col table-responsive">
                          <table class="table table-bordered table-responsive mt-3">
                            <thead>
                              <tr>
                                <th scope="col">Proceso</th>
                                <th scope="col">Descripción</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr scope="row">
                                <th>Fraccionamiento</th>
                                <td>Las unidades de sangre donada se someten a un proceso de centrifugación para separar
                                  los
                                  tres
                                  componentes.
                                  Una vez centrifugada la bolsa de sangre y mediante un sistema de prensas, cada
                                  componente se
                                  trasvasa a una bolsa diferente.
                                  Posteriormente se someten a procesos de filtrado e inactivación para aumentar su
                                  seguridad.
                                </td>
                              </tr>
                              <tr scope="row">
                                <th>Análisis</th>
                                <td>A todas las donaciones se les realizan los análisis que marca la normativa vigente:
                                  determinación
                                  del grupo sanguíneo y estudios serológicos para la detección del HIV, hepatitis B y C,
                                  test
                                  de
                                  sífilis y recuento hematológico, además de un screening para la detección de la
                                  enfermedad
                                  de
                                  Chagas, Paludismo o HTLV en algunas donaciones.</td>
                              </tr>
                              <tr scope="row">
                                <th>Almacenamiento</th>
                                <td>La siguiente etapa es almacenar la sangre para poder distribuirla a los diferentes
                                  hospitales de
                                  acuerdo a sus demandas.
                                  Puesto que la sangre es un tejido vivo, tiene un tiempo limitado de almacenamiento:
                                  los
                                  hematíes se
                                  mantienen durante 42 días a 4ºC; el plasma, puesto que no tiene células vivas, se
                                  puede
                                  congelar
                                  durante 3 años a -40ºC y, por último las plaquetas, que necesitan 22ºC, sólo duran 5
                                  días.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-6">
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/almacenamiento2.jpg" alt>
                            <figcaption>Almacenamiento</figcaption>
                          </figure>
                        </div>
                        <div class="col-6">
                          <figure class="mb-3 mt-2">
                            <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/fraccionamiento.jpg" alt>
                            <figcaption>Fraccionamiento</figcaption>
                          </figure>
                        </div>
                        <div class="row">
                          <div class="col-3"></div>
                          <div class="col-6">
                            <figure class="mb-3 mt-2">
                              <img class="img-fluid" src="../../assets/imagenes/donantes-sangre/analisis.jpg" alt>
                              <figcaption>Análisis</figcaption>
                            </figure>
                          </div>
                          <div class="col-3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <strong>¿Soy apto o apta para donar?</strong>
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>¿Esta pensado en donar y no sabe si cumple los requisitos? Puede comprobarlos y
                      realizar nuestro test para ver si es apto o apta para donar, pinche en el botón ¿Puedo donar?</p>
                    <div class="d-flex justify-content-center mt-3 mb-1">
                      <button (click)="irASoyApto()" class="btn-secundario">¿Puedo donar?</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="fondoAcordeon accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <strong>¿Dondé puede donar?</strong>
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Si quiere donar puede ir al Hospital de Santa Bárbara sin cita previa pero ante un gran volumen
                      de
                      donaciones puede que no le podamos atender.</p>
                    <p>Le recomendamos que pida cita para ello puede realizarla
                      llamando a uno de estos dos números:</p>
                    <div class="d-flex justify-content-start align-items-start">
                      <i class="fa-solid fa-phone me-2 fs-6"></i>
                      <p class="fw-bold">926 43 16 16</p>
                    </div>
                    <div class="d-flex justify-content-start align-items-start">
                      <i class="fa-solid fa-phone me-2 fs-6"></i>
                      <p class="fw-bold">926 42 11 00 ext. 70480</p>
                    </div>
                    <p class="pt-2">Por otro lado también puede pedirla desde nuestra página web, para ello pulse el
                      botón Pedir cita</p>
                    <div class="d-flex justify-content-center mt-3 mb-1">
                      <button (click)="irAPedirCita()" class="btn-secundario">Pedir cita</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
