<footer class="d-flex flex-column">

  <div class="datos d-flex justify-content-between pb-3">

    <div class="contacto">
      <h5 class="titulo">Contacto</h5>

      <p class="fw-bold mb-3">Hermandad de Donantes de Sangre de Puertollano</p>
      <p><i class="fa fa-hospital mb-3"></i>Hospital de Santa Bárbara</p>

      <div class="d-flex align-items-center mb-3">
        <i class="fa-solid fa-location-dot"></i>

        <div>
          <p>Calle Malagón, s/n</p>
          <p>13500 Puertollano, Ciudad Real</p>
        </div>
      </div>

      <p class="mb-3"><i class="fa fa-envelope" aria-hidden="true"></i>hdspdonantes@donantespllno.es</p>

      <app-footer-tfnos></app-footer-tfnos>
    </div>


    <div class="informacion">
      <h5 class="titulo">Información</h5>

      <p class="mb-3"><a class="enlace" routerLink="./hermandad">La Hermandad</a></p>
      <p class="mb-3"><a class="enlace" routerLink="./himnos">Himno</a></p>
      <p class="mb-3"><a class="enlace" routerLink="./memorias">Memorias</a></p>
      <p class="mb-3"><a class="enlace" routerLink="./preguntas-frecuentes">FAQ</a></p>
      <p class="mb-3"><a class="enlace" routerLink="./chat-dudas">Chat para dudas</a></p>
      <p class="mb-3"><a class="enlace" routerLink="./stats">Estadísticas</a></p>
    </div>


    <div class="newsletter-redes d-flex flex-column">

      <h5 class="titulo">No te pierdas nada</h5>
      <p>Síguenos en las redes sociales</p>

      <div class="mb-3">
        <a href="https://twitter.com/HdadPuertollano"><i class="fa fa-twitter fs-4 me-2" aria-hidden="true"></i></a>
        <a href="https://es-es.facebook.com/HermandadDeDonantesDeSangreDePuertollano/"><i class="fa-brands fa-facebook fs-4 me-2"></i></a>

      </div>

      <p>o suscríbete a nuestra newsletter</p>
      <app-email-formulario></app-email-formulario>
    </div>

  </div>

  <div class="copyright d-flex justify-content-between pt-4">
    <p>&copy;2023 | <span class="fw-bold">Hermandad de Donantes de Sangre de Puertollano</span></p>

    <div class="d-flex justify-content-between">
      <a class="me-3 enlace" href="./aviso-legal">Aviso legal</a>
      <a class="text-center me-3 enlace" href="./terminos-uso">Términos de uso</a>
      <a class="text-end enlace" href="./politicas-cookies">Política de Cookies</a>
    </div>

  </div>

</footer>
