.newsletter {
  z-index: 110;
  width: 400px;
  background-color: var(--color-contraste);
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  margin: .5rem;
  position: fixed;
  bottom: 0px;
  right: 0;
  border-radius: 2px;

  * {
    font-size: var(--letra-pequena);
  }

  p,
  .titulo {
    padding: 0;
  }

  .titulo {
    font-size: var(--letra-media);
  }

  .icono-peq {
    display: none;
  }

  .icono-grande {
    background-color: var(--color-granate);
    border-radius: 2px 0px 0 2px;

    i {
      color: var(--bs-white);
      font-size: 40px;
    }
  }

  .mensaje-inf {
    padding: 1.5rem 1.5rem .5rem;

    i {
      font-size: var(--letra-media);
      color: var(--color-primario);

      &:hover {
        color: var(--color-granate-oscuro);
      }
    }
  }
}

@media (max-width: 576px) {
  .newsletter {
    width: 350px;

    .mensaje i.icono-peq {
      display: block;
      padding: 0;
      font-size: var(--letra-media);
      color: var(--color-granate);
    }

    .icono-grande {
      display: none !important;
    }
  }
}
