
main{
  padding: 5rem 1.5rem 10rem;
  .contenedor {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: var(--bs-white);
    border-radius: 2px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, .2);




    .menu-horizontal {
      border-right: 1.5px solid var(--color-contraste-oscuro);

      li {
        padding: 1rem .7rem;
        width: 100%;
        border-left: 10px solid var(--bs-white);
        &:hover > i{
          animation: jumping 0.5s;
        }
        span {
          display: none;
          margin-left: 1rem;
        }

        &.activo {
          background-color: var(--color-primario);
          color: var(--bs-white);
          border-color: var(--color-granate);
        }
      }
    }

    .config {
      padding: 1rem 1.5rem;
    }
  }

}

@media (min-width: 768px) {
main .contenedor {

  .menu-horizontal{
    display: block;
    li{
      padding: 1rem 1.5rem;
      span{
        margin-left: 0;
        &.oculto {
          display: inline-block;
        }
      }
      i{
        margin-right: .5rem;
      }
    }
  }


  .config {
    padding: 1rem 3rem;
  }
}
}


@media (min-width: 992px) {
  main {
    padding: 5rem 5rem 10rem;
  }
}


@keyframes jumping {
  0% {
    transform: translateY(0px);
    transform: scaleX(1.25);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
      transform: translateY(-10px);
      transform: scaleY(1.5);
  }

  75% {
      transform: translateY(-5px);
      transform: scaleX(1.25);

  }

  100% {
      transform: translateY(0px);
      transform: scaleY(1);
  }
}
