<div class="container-fluid f-contraste">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="titulo subrayado">Política de Cookies</h1>
    </div>
  </div>
</div>
<div>
  <svg _ngcontent-ncw-c20="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path _ngcontent-ncw-c20="" fill="#f1eef5" fill-opacity="1"
      d="M0,50L380,150L960,80L1950,128L1440,0L960,0L480,0L0,0Z">
    </path>
  </svg>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <p>
        Le aviso que en este sitio se pueden utilizar cookies cuando el usuario navega por las diferentes páginas de sitio.
        Durante el uso de nuestra página web acepta y autoriza expresamente el uso de cookies, de acuerdo con nuestra política de cookies.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="accordion mb-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="que_es_Cookies">
            <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_que_es_Cookies" aria-expanded="true" aria-controls="collapse_que_es_Cookies">
            <strong>¿Qué son las cookies?</strong>
          </button>
          </h2>
          <div id="collapse_que_es_Cookies" class="accordion-collapse collapse show" aria-labelledby="que_es_Cookies"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Una cookie es un fichero muy pequeño que se descarga en el ordenador/smarthphone/tablet
                del usuario al acceder a determinadas páginas web para almacenar y recuperar información
                sobre la navegción que se efectúa desde dicho equipo. Para conocer más información sobre
                las cookies, le invito a acceder al siguiente <strong><a href="https://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)">enlace</a></strong>
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="para_que_sirven">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_para_que_sirven" aria-expanded="true" aria-controls="collapse_para_que_sirven">
            <strong>¿Para qué sirven las cookies?</strong>
          </button>
          </h2>
          <div id="collapse_para_que_sirven" class="accordion-collapse collapse" aria-labelledby="para_que_sirven"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                La utilización de las cookies tiene como finalidad exclusiva recordar las preferencias del usuario
                (idioma, país, inicio de sesión, características de su navegador, información de uso de nuestra Web, etc)
              </p>
              <br>
              <p>
                Recordando sus preferencias sabremos las características del ordenador que esta usando y asi podremos
                ofrecerle una mejor experiencia de navegación. Las cookies pueden ayudar a nuestro sitio Web a distinguir
                el navegador del usuario como visitante anterior y así guardar y recordar las preferencias que puedan haberse
                establecido mientras el usuario estaba navegando por le sitio, personalizar las páginas de inicio,
                identificar qué sectores de un sitio han sido visitados o mantener un registro de selecciones en un "carro de compra".
              </p>
              <br>
              <p>
                Así mismo pueden ser utilizadas para obtener información acerca del tráfico dentro del propio site y estimar el número
                de visitas realizadas. Normalmente los sitios Web utilizan las cookies para obtener información estadística sobre sus páginas Web.
                Tenga en cuenta que recogemos datos sobre sus movimientos y uso de nuestra Web como datos estadísticos, no personales.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="tipos_finalidades_cookies">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_tipos_finalidades_cookies" aria-expanded="true" aria-controls="collapse_tipos_finalidades_cookies">
            <strong>Tipos y finalidades de las cookies</strong>
          </button>
          </h2>
          <div id="collapse_tipos_finalidades_cookies" class="accordion-collapse collapse" aria-labelledby="tipos_finalidades_cookies"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                A continuación se presenta una lista de las cookies que puede encontrar en nuestro sitio Web
                y una breve descripcion de su finalidad. Le aseguramos que ninguna de ellas conserva información
                de identificación personal sobre ustd. Algunas cookies personalizan su visita, otras recuerdan sus
                preferencias, mientras que otras solo nos proveen estadísticas de los visitantes.
              </p>
              <div class="table-responsive mb-2">
                <table class="table table-bordered mt-3 w-auto">
                  <thead>
                    <tr>
                      <th class="border th-sm">Cookies</th>
                      <th class="border th-sm">Información(*)</th>
                      <th class="border th-sm">Finalidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr scope="row">
                      <td colspan="3" class="text-center"><strong>COOKIES PROPIAS</strong></td>
                    </tr>
                    <tr scope="row">
                      <td>Estrictamente necesarias.</td>
                      <td>Navegación.</td>
                      <td>Garantizar los recursos del servidor para la navegación</td>
                    </tr>
                    <tr scope="row">
                      <td><strong>COOKIES DE TERCEROS</strong></td>
                      <td colspan="2">(la información recogida a continación ha sido facilitada por esos terceros)</td>
                    </tr>
                    <tr scope="row">
                      <td>
                        Análisis con Google Analytics y SiteGround
                      </td>
                      <td>
                        Número de visitas, páginas o secciones visitadas, tiempo de navegación, sitios visitados antes de entrar en esta página, detalles sobre los navegadores usados.
                      </td>
                      <td>
                        Informes estadísticos sobre el tráfico del sitio web, su audiencia total y la audiencia en una determinada campaña.
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>
                        https://www.eltiempo.es
                      </td>
                      <td>
                        Información del tiempo en Puertollano.
                      </td>
                      <td>
                        Información del tiempo en Puertollano.
                      </td>
                    </tr>
                    <tr scope="row">
                      <td>
                        https://www.contadorvisitasgratis.com
                      </td>
                      <td>
                        Contador de visitas y estadistica de visitas.
                      </td>
                      <td>
                        Contador de visitas y estadistica de visitas.
                      </td>
                    </tr>
                    <tr scope="row">
                      <td colspan="3" class="text-center"><strong>COOKIES SOCIALES</strong></td>
                    </tr>
                    <tr scope="row">
                      <td>Sociales</td>
                      <td>Facebook</td>
                      <td>Link creado para conectar con los perfiles sociales. Sirve para facilitar la difusión de los contenidos de la web en redes sociales con un sólo link.</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <p>(*) La información obtenida a través de estas cookies no pueden ser identificadas por usuario.</p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="salvaguardias_proteccion">
            <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_salvaguardias_proteccion" aria-expanded="true" aria-controls="collapse_salvaguardias_proteccion">
            <strong>Salvaguardias de protección</strong>
          </button>
          </h2>
          <div id="collapse_salvaguardias_proteccion" class="accordion-collapse collapse" aria-labelledby="salvaguardias_proteccion"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                El usuario puede configurar su navegador para aceptar, o no, las cookies que recibe o para
                que el navegador le avise cuando un servidor quiera guardar una cookie o borrarlas de su ordenador.
                Puede encontrar las instrucciones en la configuración de seguridad en su navegador Web.
              </p>

              <br>
              <p>
                <strong>Ejemplos:</strong>
              </p>

              <br>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  • Si utiliza Microsoft Internet Explorer, en la opción de menú Herramientas > Opciones de Internet > Privacidad > Configuración.
                </li>
                <li class="list-group-item">
                  • Si utiliza Firefox, en la opción de menú Herramientas > Opciones > Privacidad > Cookies.
                </li>
                <li class="list-group-item">
                  • Si utiliza Google Chrome, en la opción de menú Configuración > Privacidad y Seguridad
                </li>
                <li class="list-group-item">
                  • Si utiliza Safari, en la opción de menú Preferencias > Seguridad
                </li>
              </ul>

              <br>

              <p>
                Puede hacer uso de la seccion "Ayuda" que encontrará en la barra de herramientas de la mayoria
                de los navegadores para cambiar los ajustes de su ordenador, sin embargo, algunas de las características
                de nuestros servicios online pueden no funcionar o pueden resultar más complicadas de acceder si rechaza todas las cookies.
              </p>

              <br>

              <p>
                Muchos navegadores permiten activar un modo privado mediante el cual las cookies se borran siempre
                despúes su visita. Dependiendo de cada navegador, este modo privado puede terner diferentes nombre,
                abajo puede encontrar una lista de los navegadores más comunes y los diferentes nombres de este <strong>"modo privado"</strong>:
              </p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  – Internet Explorer 8 y superior: InPrivate
                </li>
                <li class="list-group-item">
                  – FireFox 3.5 y superior: Navegación Privada
                </li>
                <li class="list-group-item">
                  – Google Chrome 10 y superior: Incógnito
                </li>
                <li class="list-group-item">
                  – Safari 2 y superior: Navegación Privada
                </li>
                <li class="list-group-item">
                  – Opera 10.5 y superior: Navegación Privada
                </li>
              </ul>

              <br>

              <p>
                Por favor, lea atentamente la sección de ayuda de su navegador para conocer
                más acerca de como activar el "modo privado". Podrá seguir visitando
                nuestra Web aunque su navegador esté en <strong>"modo privado"</strong>,
                no obstante, la experiencia de usuario puede no ser óptima y algunas utilidades
                pueden no funcionar
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
