<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="titulo subrayado">¿Donde hacer la donación?</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex justify-content-center">

    <figure class="mb-4 mt-4">
      <img class="img-fluid" src="../../../../assets/imagenes/donantes-medula-osea/Mapa(España).png" alt>
      <figcaption>España</figcaption>
    </figure>
  </div>
  <div class="col-12">
    <div class="accordion mb-5" id="regiones_España">

      <div class="accordion-item">
        <h2 class="accordion-header" id="galicia">
          <button class="accordion-button fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_galicia" aria-expanded="true" aria-controls="collapse_galicia">
          <strong>Galicia</strong>
        </button>
        </h2>
        <div id="collapse_galicia" class="accordion-collapse collapse show" aria-labelledby="galicia"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <figure class="mb-4 mt-4">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1522086.9235284412!2d-9.104188015410402!3d42.74170574632455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2efe6c55839771%3A0x58fd34f66e80b1c7!2sAxencia%20Galega%20de%20Sangue%2C%20%C3%93rganos%20e%20Tecidos%20(ADOS)!5e0!3m2!1ses!2ses!4v1684519322667!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <figcaption>Santiago de Compostela</figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="asturias">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_asturias" aria-expanded="true" aria-controls="collapse_asturias">
          <strong>Asturias</strong>
        </button>
        </h2>
        <div id="collapse_asturias" class="accordion-collapse collapse" aria-labelledby="asturias"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
              <div class="col-12">
                <figure class="mb-4 mt-4">
                  <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1038619.6644417905!2d-6.284816712870774!3d43.1562579275017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd368d175232031b%3A0xe42481e467f1c6bd!2sCentro%20Comunitario%20de%20Sangre%20y%20Tejidos%20de%20Asturias%20%7C%20Donaasturias%20%7C%20Donaci%C3%B3n%20de%20sangre!5e0!3m2!1ses!2ses!4v1684520661716!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <figcaption>Ovideo</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="cantabria">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_cantabria" aria-expanded="true" aria-controls="collapse_cantabria">
          <strong>Cantabria</strong>
        </button>
        </h2>
        <div id="collapse_cantabria" class="accordion-collapse collapse" aria-labelledby="cantabria"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">
                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1602504.2745047892!2d-5.174205430182113!3d43.12825942086609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4949821ebaa5b1%3A0x809fae2b4edc357!2sHospital%20Universitario%20Marqu%C3%A9s%20de%20Valdecilla!5e0!3m2!1ses!2ses!4v1684687274867!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Santander</figcaption>
                  </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="pais_vasco">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_pais_vasco" aria-expanded="true" aria-controls="collapse_pais_vasco">
          <strong>Pais Vasco</strong>
        </button>
        </h2>
        <div id="collapse_pais_vasco" class="accordion-collapse collapse" aria-labelledby="pais_vasco"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d297131.9811134799!2d-2.761206149372203!3d42.85785385786315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc3bd8ecf1375%3A0xd42a90454d551afc!2sCentro%20Vasco%20de%20Transfusi%C3%B3n%20y%20Tejidos%20Humanos!5e0!3m2!1ses!2ses!4v1684688351733!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Pais Vasco</figcaption>
                  </figure>
                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d757270.6265391272!2d-2.9512508269786433!3d43.04818075230154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4fc274ac4d70a1%3A0xb57d42357aed7c67!2sOsakidetza!5e0!3m2!1ses!2ses!4v1684688188861!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Vizcaya</figcaption>
                  </figure>
                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202782.95118619443!2d-2.135402316299881!3d43.26163238256869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51afe97b0f5099%3A0x867d66d2cba44a58!2sHospital%20Universitario%20Donostia!5e0!3m2!1ses!2ses!4v1684688472482!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Guipúzcoa</figcaption>
                  </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="la_rioja">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_la_rioja" aria-expanded="true" aria-controls="collapse_la_rioja">
          <strong>La Rioja</strong>
        </button>
        </h2>
        <div id="collapse_la_rioja" class="accordion-collapse collapse" aria-labelledby="la_rioja"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104218.58589067913!2d-2.5137284443288204!3d42.45519642767104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5aab7bd1f554b5%3A0xd6f080b4ba5efc2b!2sHospital%20San%20Pedro!5e0!3m2!1ses!2ses!4v1684688974982!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>La Rioja</figcaption>
                  </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="navarra">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_navarra" aria-expanded="true" aria-controls="collapse_navarra">
          <strong>Navarra</strong>
        </button>
        </h2>
        <div id="collapse_navarra" class="accordion-collapse collapse" aria-labelledby="navarra"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d676431.7804338658!2d-2.0493043067087404!3d42.886084167702364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd50938d5ea66bc1%3A0x53ef770a6af2307a!2sBanco%20de%20sangre%20y%20tejidos%20de%20Navarra!5e0!3m2!1ses!2ses!4v1684689182498!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Navarra</figcaption>
                  </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="zaragoza">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_zaragoza" aria-expanded="true" aria-controls="collapse_zaragoza">
          <strong>Zaragoza</strong>
        </button>
        </h2>
        <div id="collapse_zaragoza" class="accordion-collapse collapse" aria-labelledby="zaragoza"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41291.517054168835!2d-0.9361422300158735!3d41.64188128551813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914c320373e85%3A0x4a3cfc186aeacea1!2sHospital%20Cl%C3%ADnico%20Universitario%20Lozano%20Blesa!5e0!3m2!1ses!2ses!4v1684689339444!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Zaragoza</figcaption>
                  </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="cataluña">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_cataluña" aria-expanded="true" aria-controls="collapse_cataluña">
          <strong>Cataluña</strong>
        </button>
        </h2>
        <div id="collapse_cataluña" class="accordion-collapse collapse" aria-labelledby="cataluña"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d185458.00750574117!2d0.5051578446417561!3d41.61915776557389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e024356d43d3%3A0xab5c1aaee590174e!2sHospital%20Universitario%20Arnau%20de%20Vilanova!5e0!3m2!1ses!2ses!4v1684690338105!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Lérida</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d358829.15988207416!2d2.4005598713921987!3d41.891806185542215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bae6fd3a1957d9%3A0x1b0cf29f133e0df2!2sHospital%20Universitario%20de%20Gerona%20Doctor%20Josep%20Trueta!5e0!3m2!1ses!2ses!4v1684690498913!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Girona</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d361179.7003390208!2d1.9663281463647602!3d41.47166286180867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a492e80457e0cd%3A0x966cbc255247994c!2sHospital%20Universitari%20M%C3%BAtuaTerrassa!5e0!3m2!1ses!2ses!4v1684690575713!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Terrassa</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127777.55335529069!2d2.0720856722515535!3d41.43040394835686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a497fd174becdf%3A0x605519a76ed9875!2sHospital%20Universitario%20Valle%20de%20Hebr%C3%B3n!5e0!3m2!1ses!2ses!4v1684690627413!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Vall d’Hebron</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d135461.2588248991!2d2.0451925693681674!3d41.389305336648505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2d04af1991b%3A0x58c0055baf2e429c!2sHospital%20de%20la%20Santa%20Creu%20i%20Sant%20Pau!5e0!3m2!1ses!2ses!4v1684690750309!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Santa Creu i Sant Pau</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d135461.2588248991!2d2.0451925693681674!3d41.389305336648505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49874fcd7ccb7%3A0xbc64a2ebd58ab3b2!2sFundaci%C3%B3n%20Josep%20Carreras%20contra%20la%20leucemia!5e0!3m2!1ses!2ses!4v1684690853970!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Fundación Josep Carreras Registro Donantes Médula Ósea "REDMO"</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76016.5621268114!2d2.123205838029736!3d41.39657230204466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a285020f5243%3A0x7c8207e460a62f24!2sBanco%20de%20Sangre%20y%20Tejidos%20Cl%C3%ADnic!5e0!3m2!1ses!2ses!4v1684691393356!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Banco de Sangre y Tejidos Clínic</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11981.393546776178!2d2.0857779103198286!3d41.34478073579812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4992af59ef6db%3A0x630fd8e337a876a1!2sHospital%20Universitario%20de%20Bellvitge!5e0!3m2!1ses!2ses!4v1684691442433!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Hospital Universitari de Bellvitge</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="tarragona">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_tarragona" aria-expanded="true" aria-controls="collapse_tarragona">
          <strong>Tarragona</strong>
        </button>
        </h2>
        <div id="collapse_tarragona" class="accordion-collapse collapse" aria-labelledby="tarragona"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d128348.2106958884!2d1.0953553645189924!3d41.1396333513667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a150a1e5b6882f%3A0xe92b8ef6b64b37d2!2sHospital%20Universitario%20San%20Juan%20de%20Reus!5e0!3m2!1ses!2ses!4v1684691625603!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Reus</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d128365.09517110769!2d1.137058927377733!3d41.1310044027748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a3fd3a871504e3%3A0x2face979accc7718!2sHospital%20Universitario%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1684691682417!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Hospital Universitari Joan XXIII</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d612924.5400588843!2d0.1674602455282918!3d40.88177002979686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a0e4a0cab7d753%3A0xfcf2ebd6562ae98a!2sHospital%20Verge%20de%20la%20Cinta!5e0!3m2!1ses!2ses!4v1684691774923!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Tortosa</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="castilla_leon">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_castilla_leon" aria-expanded="true" aria-controls="collapse_castilla_leon">
          <strong>Castilla y Leon</strong>
        </button>
        </h2>
        <div id="collapse_castilla_leon" class="accordion-collapse collapse" aria-labelledby="castilla_leon"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30369.366813127624!2d-5.687714913329335!3d40.95907568854083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3f2639b14736b9%3A0x8f1d7a1a2fb65c5!2sHospital%20Cl%C3%ADnico%20Universitario%20de%20Salamanca!5e0!3m2!1ses!2ses!4v1684692108379!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Salamanca</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="madrid">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_madrid" aria-expanded="true" aria-controls="collapse_madrid">
          <strong>Comunidad de Madrid</strong>
        </button>
        </h2>
        <div id="collapse_madrid" class="accordion-collapse collapse" aria-labelledby="madrid"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d490756.78148395865!2d-3.7462355235247724!3d40.29624076383016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225a7a4f57aad%3A0x18bd36c99e3ef75!2sCentro%20de%20Transfusi%C3%B3n%20de%20la%20Comunidad%20de%20Madrid!5e0!3m2!1ses!2ses!4v1684692194388!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Madrid</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="castilla_mancha">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_castilla_mancha" aria-expanded="true" aria-controls="collapse_castilla_mancha">
          <strong>Castilla la Mancha</strong>
        </button>
        </h2>
        <div id="collapse_castilla_mancha" class="accordion-collapse collapse" aria-labelledby="castilla_mancha"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5457.142067596692!2d-4.031390909640038!3d39.85816407051362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a0ba7eb937aed%3A0xac3f1a3296832731!2sPlaza%20de%20Padilla%2C%2045002%20Toledo!5e0!3m2!1ses!2ses!4v1684692832107!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Toledo</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="valencia">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_valencia" aria-expanded="true" aria-controls="collapse_valencia">
          <strong>Comunidad Valenciana</strong>
        </button>
        </h2>
        <div id="collapse_valencia" class="accordion-collapse collapse" aria-labelledby="valencia"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d596062.9885281075!2d-0.28949238768481594!3d39.84189196532637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5ffe498575cc1b%3A0x2993be5a33c998a1!2sCentre%20de%20Transfusi%C3%B3%20de%20Castell%C3%B3!5e0!3m2!1ses!2ses!4v1684693067675!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Castellon</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497529.25763368065!2d-0.5630159412177039!3d39.3546049261629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f7419a4df29%3A0x65afe4df27915244!2sCentre%20de%20Transfusi%C3%B3%20de%20la%20Comunitat%20Valenciana!5e0!3m2!1ses!2ses!4v1684693536987!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Valencia</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d197234.76952882877!2d-0.5027564499007743!3d38.40406030531254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd623b73fd05749d%3A0x11819ed92ab12f81!2sCentro%20de%20Transfusi%C3%B3n%20de%20la%20Comunitat%20Valenciana!5e0!3m2!1ses!2ses!4v1684693603618!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Alicante</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="isla_baleares">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_isla_baleares" aria-expanded="true" aria-controls="collapse_isla_baleares">
          <strong>Islas Baleares</strong>
        </button>
        </h2>
        <div id="collapse_isla_baleares" class="accordion-collapse collapse" aria-labelledby="isla_baleares"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194025.42626116183!2d2.539466244773058!3d39.56539071131039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129792888cc1a921%3A0xb6ab61031d879dfb!2sHospital%20Juaneda%20Miramar!5e0!3m2!1ses!2ses!4v1684693733637!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Palma</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="extremadura">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_extremadura" aria-expanded="true" aria-controls="collapse_extremadura">
          <strong>Extremadura</strong>
        </button>
        </h2>
        <div id="collapse_extremadura" class="accordion-collapse collapse" aria-labelledby="extremadura"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d281289.5789077805!2d-7.0597007213855925!3d38.83612480786661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd16e446ef007fab%3A0xa3fa40457b6914e3!2sADMO%20Asociaci%C3%B3n%20para%20la%20Donaci%C3%B3n%20de%20M%C3%A9dula%20%C3%93sea!5e0!3m2!1ses!2ses!4v1684693896177!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Badajoz</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="murcia">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_murcia" aria-expanded="true" aria-controls="collapse_murcia">
          <strong>Murcia</strong>
        </button>
        </h2>
        <div id="collapse_murcia" class="accordion-collapse collapse" aria-labelledby="murcia"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1277677.9813384374!2d-1.7836272238144186!3d37.9983969289987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd637f1d3187d39d%3A0x1d76a6af01333fa5!2sHospital%20Cl%C3%ADnico%20Universitario%20Virgen%20de%20la%20Arrixaca!5e0!3m2!1ses!2ses!4v1684694341401!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Hospital Clínico Universitario Virgen de la Arrixaca</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1277677.9813384374!2d-1.7836272238144186!3d37.9983969289987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63820e189d264b%3A0x7fd1d7500d2548a8!2sCentro%20Regional%20de%20Hemodonaci%C3%B3n!5e0!3m2!1ses!2ses!4v1684694407066!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Centro Regional de Hemodonación</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="andalucia">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_andalucia" aria-expanded="true" aria-controls="collapse_andalucia">
          <strong>Andalucia</strong>
        </button>
        </h2>
        <div id="collapse_andalucia" class="accordion-collapse collapse" aria-labelledby="andalucia"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1280784.5107789477!2d-5.3163533869645825!3d37.81972338380592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6d20ba9f5ac1f9%3A0x896c589f157677e3!2sCentro%20de%20Transfusi%C3%B3n%20Tejidos%20y%20C%C3%A9lulas%20de%20C%C3%B3rdoba!5e0!3m2!1ses!2ses!4v1684694524978!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Cordoba</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1278494.3663296727!2d-4.372040963277095!3d37.95151138023231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6dd7080efb0ffb%3A0xef823005b8fee977!2sComplejo%20Hospitalario%20de%20Ja%C3%A9n!5e0!3m2!1ses!2ses!4v1684694558042!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Jaen</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d607680.4024705891!2d-6.262894344926438!3d37.42344553349237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e81d2232e43%3A0x42f28c1d38383b07!2sCentro%20de%20Transfusi%C3%B3n%2C%20Tejidos%20y%20C%C3%A9lulas%20de%20Sevilla!5e0!3m2!1ses!2ses!4v1684694610946!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Sevilla</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608210.7142259899!2d-6.890465914645004!3d37.35805359832758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11cff14676f193%3A0xbe912d716b604284!2sCentro%20de%20Transfusi%C3%B3n%2C%20Tejidos%20y%20C%C3%A9lulas%20de%20Huelva!5e0!3m2!1ses!2ses!4v1684694645370!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Huelva</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d610210.2694203857!2d-3.979549611314894!3d37.11060652798125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fce583fa4c29%3A0x961faedcc196faf8!2sCentro%20Regional%20de%20Transfusi%C3%B3n%20Sangu%C3%ADnea%20de%20Granada!5e0!3m2!1ses!2ses!4v1684694718234!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Granada</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27055.177210818118!2d-2.4774082835113407!3d36.864364404061384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7076018f86bded%3A0xcdb0f21b3d5380dc!2sHospital%20Universitario%20Torrec%C3%A1rdenas!5e0!3m2!1ses!2ses!4v1684694862870!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Almeria</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d257885.99255270322!2d-4.627182772866635!3d36.71796695422829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7128220d4cf%3A0x1313e47299989ce4!2sHospital%20Regional%20Universitario%20de%20M%C3%A1laga!5e0!3m2!1ses!2ses!4v1684694931430!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Malaga</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40723.19582770782!2d-6.282054430820491!3d36.51187676248135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dd24a8dabdcf7%3A0xb72375aa80228062!2sHospital%20Universitario%20Puerta%20del%20Mar!5e0!3m2!1ses!2ses!4v1684694983386!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Cadiz</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152183.93907971773!2d-5.4471435356237!3d36.18482439057286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0cc198f7c416a9%3A0xcecdabb50d5c73f8!2sNuevo%20Hospital%20Comarcal%20de%20La%20L%C3%ADnea%20de%20la%20Concepci%C3%B3n!5e0!3m2!1ses!2ses!4v1684695019330!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Gibraltar</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="ceuta_melilla">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_ceuta_melilla" aria-expanded="true" aria-controls="collapse_ceuta_melilla">
          <strong>Ceuta y Melilla</strong>
        </button>
        </h2>
        <div id="collapse_ceuta_melilla" class="accordion-collapse collapse" aria-labelledby="ceuta_melilla"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471061.50562249013!2d-5.509641405516753!3d35.906553101037105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0ca17cd1c36d61%3A0x1789b214b8a67688!2sHospital%20Universitario%20de%20Ceuta!5e0!3m2!1ses!2ses!4v1684695132426!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Ceuta</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105744.54459909689!2d-3.0239133491889634!3d35.27762393717851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7705f2803d1713%3A0x175e01e8f49a24a3!2sHospital%20Comarcal%20de%20Melilla!5e0!3m2!1ses!2ses!4v1684695158170!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Melilla</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="islas_canarias">
          <button class="accordion-button collapsed fondoAcordeon" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse_islas_canarias" aria-expanded="true" aria-controls="collapse_islas_canarias">
          <strong>Islas Canarias</strong>
        </button>
        </h2>
        <div id="collapse_islas_canarias" class="accordion-collapse collapse" aria-labelledby="islas_canarias"
        data-bs-parent="#regiones_España">
          <div class="accordion-body">
            <div class="row">
                <div class="col-12">

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141446.8450440606!2d-16.35903474439427!3d28.439578657011047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41ccfbe275c64d%3A0x2a6732216a1adf58!2sHospital%20Universitario%20de%20Canarias!5e0!3m2!1ses!2ses!4v1684695256418!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Santa Cruz de Tenerife</figcaption>
                  </figure>

                  <figure class="mb-4 mt-4">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141903.03919339372!2d-15.513123544274873!3d28.096480971722844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc4095a9ee5560bb%3A0xe179496aac2b7aad!2sHospital%20Universitario%20de%20Gran%20Canaria%20Doctor%20Negr%C3%ADn!5e0!3m2!1ses!2ses!4v1684695320258!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <figcaption>Las Palmas</figcaption>
                  </figure>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
