<div class="container-fluid fondo px-2 py-2 p-md-3 p-lg-5">

  <div class="mensaje"
      [@entradaSalidaVentana]="codAccion == -1"
      *ngIf="codAccion != -1">

      <ng-container *ngIf="codAccion == 0">
        <div class="mensaje-ok d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-circle-check me-3"></i>
          <p *ngIf="codAccion == 0">{{mensaje}}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="codAccion == 1">
        <div class="mensaje-error d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-triangle-exclamation me-3"></i>
          <p *ngIf="codAccion == 1">{{mensaje}}</p>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-1 col-0"></div>
  
      <div class="col-xl-8 col-lg-10 col-0 contenedor">
        <div class="card border-0 rounded-0 w-100 mb-0">
          <div class="card-header d-flex justify-content-center align-items-center py-1 border-bottom-0">
            <h1>Administrar citas</h1>
          </div>
          <div class="card-body px-2 py-5 px-md-5 mt-5 mb-0">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h3 class="titulo mb-3">Citas pendientes</h3>
                  <ul>
                    <li *ngIf="noHayCitasPendientes; else elseCitasPendientes" class="my-3">
                      <div class="card w-100 p-0 my-3">
                        <div class="card-body my-2 w-100 d-flex justify-content-around align-items-center tarjetaNoHay">
                          No hay citas pendientes
                        </div>
                      </div>
                    </li>
  
                    <ng-template #elseCitasPendientes>
                      <li *ngFor="let cita of citasPendientes">
                        <div class="card p-0 my-3">
                          <div class="card-body my-0 d-flex justify-content-around align-items-center tarjeta px-1 px-sm2 px-md-3 py-3">

                            <div class="row w-100 px-1 px-sm-2 px-md-3 px-lg-5">
                              <div class="col-9 info py-1 ps-sm-1 ps-md-3 ps-lg-5">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="row">
                                          <span class="nombre mb-2 col-7 col-mg-6 p-2">{{ cita.user.nombre }}</span>
                                          <span class="col-5 col-mg-6 text-center align-items-bottom pt-3 ps-0 pe-2 pe-mg-3 pe-lg-5"><span class="donacion p-1">{{ cita.donacion }}</span></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">
                                      <span class="dia p-2 pe-mg-3">{{ cita.dia }}</span>
                                      <span class="hora p-2 px-mg-3 ps-lg-4">{{ cita.hora }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-3 px-0 pt-3 py-sm-0 pe-md-3 pe-lg-5">
                                <div class="row h-100">
                                  <div class="col-12 d-flex justify-content-center h-100">
                                    <div *ngIf="!cita.cancelada; else elseCancelada" class="row align-items-center h-100 align-items-center py-2">
                                      <button  class="btn-primario px-1 px-sm-2 px-mg-3 mb-2" (click)="abrirModal($event)">Aplazar</button>
                                      <button  class="btn-primario px-1 px-sm-2 px-mg-3" (click)="cancelarCita($event)">Cancelar</button>
                                    </div>
                                    <ng-template #elseCancelada>
                                      <div class="row align-items-center h-100 align-items-center">
                                        <span class="text-center px-1 px-sm-2 px-mg-3">cancelada</span>
                                        <!-- <span class="derechaTextoPequeno text-center">can.</span>  -->
                                      </div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>                        
                        </div>
                      </li>
                    </ng-template>
                  </ul>
  
                  <h3 class="titulo mt-5 mb-3">Citas pasadas</h3>
                  <ul>
                    <li *ngIf="noHayCitasPasadas; else elseCitasPasadas">
                      <div class="card w-100 p-0 my-3">
                        <div class="card-body my-2 w-100 d-flex justify-content-around align-items-center tarjetaNoHay">
                          No hay citas
                        </div>
                      </div>
                    </li>
  
                    <ng-template #elseCitasPasadas>
                      <li *ngFor="let cita of citasPasadas, let i = index;">
                        <div class="card p-0 my-3">
                          <div class="card-body my-0 d-flex justify-content-around align-items-center tarjeta px-1 px-sm2 px-md-3 py-3">

                            <div class="row w-100 px-1 px-sm-2 px-md-3 px-lg-5">
                              <div class="info py-1 ps-sm-1 ps-md-3 ps-lg-5" [ngClass]="(!cita.cancelada) ? 'col-12 col-sm-9': 'col-9'">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="row">
                                          <span class="nombre mb-2 col-7 col-mg-6 p-2">{{ cita.user.nombre }}</span>
                                          <span class="col-5 col-mg-6 text-center pt-3 ps-0 pe-2 pe-mg-3 pe-lg-5"><span class="donacion p-1">{{ cita.donacion }}</span></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">
                                      <span class="dia p-2 pe-mg-3">{{ cita.dia }}</span>
                                      <span class="hora p-2 px-mg-3 ps-lg-4">{{ cita.hora }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="px-0 pt-3 py-sm-0 pe-md-2 pe-lg-2" [ngClass]="(!cita.cancelada) ? 'col-12 col-sm-3': 'col-3'">
                                <div class="row h-100 w-100 p-0">
                                  <div class="col-12 d-flex justify-content-center h-100 w-100 p-0">
                                    <div *ngIf="!cita.cancelada; else elseCancelada" 
                                      class="row align-items-center h-100 w-100 align-items-center py-2 ps-0 ps-sm-1 ps-md-2">
                                        <div class="row align-items-center h-100 w-100 align-items-center py-0 py-md-2">
                                          <label class="col-7 col-xs-8 col-sm-12 p-0 py-0 py-md-2 p-0 pe-xl-3 d-flex justify-content-end">ha donado</label>
                                          <div class="col-5 col-xs-4 col-sm-12 p-0 py-0">
                                            <div class="row p-0 py-sm-2 p-md-2 p-0 py-0">
                                              <div class="col-6 p-0 d-flex justify-content-end">
                                                <label class=>Sí</label>
                                                <input type="radio" [name]="'asistida' + i" [checked]="cita.haDonado == 1"
                                                  (change)="onHaDonadoChange(1, i)" class="ps-2">
                                              </div>
                                              <div class="col-6 ps-3 p-sm-0 d-flex justify-content-end">
                                                <label>No</label>
                                                <input type="radio" [name]="'asistida' + i" [checked]="cita.haDonado == 2"
                                                  (change)="onHaDonadoChange(2, i)" class="ps-2">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <ng-template #elseCancelada>
                                      <div class="row h-100 align-items-center justify-content-end">
                                        <span class="text-center px-1 px-sm-2 px-mg-3">cancelada</span>
                                      </div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>                        
                        </div>
                      </li>
                    </ng-template>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-1 col-0"></div>
    </div>
  </div>

